{{#> main card="xl"}}
{{#unless contact}}
<div class="bg-red-500 text-red-900 font-semibold opacity-90 py-2 px-3 rounded my-3">Data tidak ditemukan.</div>
{{else}}
<h2 class="text-xl">Detail Kontak</h2>
<hr class="max-w-xl">
<ul class="my-3 list-disc ml-5">
    <li>Nama: {{ contact.nama }}</li>
    <li>No HP: {{ contact.nohp }}</li>
    <li>Email: {{ contact.email }}</li>
</ul>
<hr class="max-w-xl mb-3">
<a href="/edit/{{ contact.nama }}"
    class=" bg-blue-400 px-3 py-2 rounded-full shadow-lg text-white text-base font-semibold hover:opacity-80 focus:border-0 focus:ring focus:ring-blue-200 focus:outline-none">Edit</a>
<form action="/delete?_method=DELETE" method="post" class="inline">
    <input type="hidden" name="nama" value="{{ contact.nama }}" />
    <button type="submit"
        class="bg-red-400 px-3 py-2 rounded-full shadow-lg text-white text-base font-semibold hover:opacity-80 focus:border-0 focus:ring focus:ring-red-200 focus:outline-none"
        onclick="return confirm('Yakin?')">Hapus</button>
</form>
{{/unless}}

<a href="/"
    class="block mt-7 bg-sky-400 px-3 py-2 rounded-lg shadow-lg text-white text-base font-semibold hover:opacity-80 focus:border-0 focus:ring focus:ring-sky-200 max-w-fit focus:outline-none">&laquo;
    Kembali</a>
{{/main}}